<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="dns-prefetch" href="<%= VUE_APP_API_DNS_PREFETCH_HOST %>" />
    <link rel="dns-prefetch" href="<%= VUE_APP_BUCKET_DNS_PREFETCH_HOST %>" />
    <link rel="dns-prefetch" href="<%= VUE_APP_COGNITO_DNS_PREFETCH_HOST %>" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= VUE_APP_GA_ID %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "<%= VUE_APP_GA_ID %>");
    </script>
    <!-- END Google Analytics -->

    <!-- COMMON TAGS -->
    <meta charset="utf-8" />
    <title><%= VUE_APP_SITE_TITLE %></title>
    <!-- Search Engine -->
    <meta
      name="description"
      content="Norges beste oversikt over billig <%= VUE_APP_SITE_PRODUCT_NAME %>."
    />
    <meta name="image" content="<%= BASE_URL %>logo-512x512.png" />
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="<%= VUE_APP_SITE_TITLE %>." />
    <meta
      itemprop="description"
      content="Norges beste oversikt over billig <%= VUE_APP_SITE_PRODUCT_NAME %>."
    />
    <meta itemprop="image" content="<%= BASE_URL %>logo-512x512.png" />
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:image" content="<%= BASE_URL %>logo-512x512.png" />
    <!-- END SOCIAL TAGS -->
  </head>
  <body>
    <noscript>
      <strong
      >We're sorry but <%= VUE_APP_SITE_TITLE %> doesn't work properly without JavaScript
      enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <div
      id="splash"
      style="
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        position: fixed;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background: <%= VUE_APP_BG_COLOR %>;
        color: white;
        font-family: serif;
      "
    >
      <p><%= VUE_APP_SITE_TITLE %>,-</p>
    </div>
  </body>
  <script>
    const splashElement = document.getElementById("splash");
    const handleLoaded = () => {
      splashElement.style.display = "none";
    };
    window.onload = function() {
      console.log("window.onload");
      handleLoaded();
    };
    document.addEventListener("DOMContentLoaded", function(event) {
      console.log("DOMContentLoaded");
      handleLoaded();
      document.removeEventListener("DOMContentLoaded", handleLoaded);
    });
  </script>
  </body>
</html>
