<template>
  <footer class="w-full bg-secondary py-4 text-secondary-text text-lg">
    <div class="container mx-auto">
      <div class="flex flex-col items-center">
        <code>{{ commitSha }}</code>
        <p>© {{ year }} {{ siteTitleUrl }}</p>
        <p>
          Data fra
          <a href="https://allematpriser.no">allematpriser.no</a>
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
import { siteTitleUrl } from "../config/vars";
export default {
  data() {
    return {
      year: new Date().getUTCFullYear(),
      commitSha: process.env.VUE_APP_COMMIT_SHA || "d34db33f",
      siteTitleUrl,
    };
  },
};
</script>

<style></style>
