<template>
  <div class="h-12 text-lg">
    <div class="w-screen fixed left-0 top-0 bg-secondary h-12 -z-10"></div>
    <header class="h-12 fixed top-0 container bg-secondary text-secondary-text z-30">
      <div class="flex justify-between items-center h-12 px-2 sm:px-0">
        <div>
          <slot name="left">
            <a href="#" class="flex items-center">
              <SmallLogo class="h-12" />
            </a>
          </slot>
        </div>
        <div>
          <slot name="right"></slot>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
import SmallLogo from "./SmallLogo";
export default {
  components: { SmallLogo },
};
</script>

<style></style>
