<template>
  <div>
    <div
      v-for="({ type, text, isRead }, index) in messages"
      :key="index"
      :style="{ position: 'fixed', bottom: 0, left: 0, width: '100vw' }"
      :class="
        `bg-primary-text text-center text-md font-semibold ${
          type === 'error' ? 'text-red-500' : 'text-green-500'
        }`
      "
      v-show="!isRead"
    >
      <div class="m-4">
        {{ text }}
        <AmpButton @click="() => clickMessage(index)" text="ok" />
      </div>
    </div>
  </div>
</template>

<script>
import AmpButton from "./AmpButton";
export default {
  name: "SnackbarMessages",
  components: {
    AmpButton,
  },
  props: {
    messages: Array,
    clickMessage: Function,
  },
};
</script>
