<template>
  <div>
    <div class="my-2">
      <div
        class="text-center text-xl text-gray-400"
        :style="{ height: '200px' }"
        v-show="loadingImage"
      >Laster bilde</div>
      <PictureInput
        v-show="!loadingImage"
        ref="pictureInput"
        @change="imageInputChange"
        :crop="false"
        :prefill="imageFile"
        width="320"
        height="200"
        margin="0"
        accept="image/*"
        size="10"
        :zIndex="1"
        buttonClass="btn"
        :style="{
          width:
            (validation.imageUrl.valid === false && 'max-content') || '320px',
          height: '200px',
        }"
        :class="
          `${(validation.imageUrl.valid === false &&
            'border border-red-500 border-dashed') ||
            'border-dotted border'}`
        "
        :customStrings="{
          upload:
            (validation.imageUrl.valid === false && 'Trenger bilde') ||
            'Slipp, trykk, eller lim inn bilde*',
          drag:
            (validation.imageUrl.valid === false && 'Trenger bilde') ||
            'Slipp, trykk, eller lim inn bilde*',
        }"
      />
    </div>
    <form @submit="submitForm">
      <div>
        <TextInput
          type="text"
          placeholder="Navn"
          v-model="title"
          required
          :error="validation.title.valid === false"
        />
      </div>
      <TextInput
        type="text"
        placeholder="Pris"
        v-model="price"
        required
        :error="validation.price.valid === false"
      />
      <TextInput type="text" placeholder="Beskrivelse" v-model="description" />
      <TextInput type="text" placeholder="Butikk" v-model="dealer" />
      <TextInput
        type="date"
        label="Gyldig til"
        v-model="validThrough"
        placeholder="Gyldig til"
        :error="validation.validThrough.valid === false"
      />
      <div class="flex flex-col items-center">
        <AmpButton type="submit" text="Send inn" :disabled="!valid" />
      </div>
    </form>
  </div>
</template>

<script>
import { saveCustomOffer } from "../../api";
import PictureInput from "./PictureInput.vue";
import TextInput from "./TextInput.vue";
import AmpButton from "../AmpButton.vue";
import { uploadToS3 } from "../../config/aws";
import { getImageFromPasteEvent, addDaysToDate } from "../../helpers";
import { messageTypes } from "../../enums";
import { getImageMetadata, getCoordinates } from "../../image-utils";

const requiredFields = ["title", "price", "validThrough", "imageUrl"];

export default {
  name: "CustomOfferForm",
  components: {
    PictureInput,
    TextInput,
    AmpButton,
  },
  props: {
    isLoadingImage: Boolean,
  },
  data() {
    return {
      title: "",
      price: "",
      description: "",
      imageUrl: "",
      dealer: "",
      location: null,
      validFrom: new Date(),
      validThrough: addDaysToDate(new Date(), 1)
        .toISOString()
        .split("T")[0],
      imageFile: null,
      msg: "",
      image: {},
      validation: requiredFields.reduce(
        (acc, x) => ({ ...acc, [x]: { pristine: true } }),
        {},
      ),
      isUploadingImage: false,
    };
  },
  computed: {
    loadingImage() {
      return this.isLoadingImage || this.isUploadingImage || false;
    },
    valid() {
      return this.title && this.price && this.imageUrl && this.validThrough;
    },
    offer() {
      return {
        title: this.title,
        price: this.price,
        description: this.description,
        dealer: this.dealer,
        validFrom: this.validFrom,
        validThrough: this.validThrough,
        imageUrl: this.imageUrl,
        location: this.location,
      };
    },
  },
  watch: {
    offer({ title, price, imageUrl, validThrough }) {
      if (title) {
        this.validation.title = { valid: true };
      } else if (!this.validation.title.pristine) {
        this.validation.title = { valid: false, message: "Trenger navn" };
      }
      if (price) {
        this.validation.price = { valid: true };
      } else if (!this.validation.price.pristine) {
        this.validation.price = { valid: false, message: "Trenger pris" };
      }
      if (validThrough) {
        this.validation.validThrough = { valid: true };
      } else if (!this.validation.validThrough.pristine) {
        this.validation.validThrough = {
          valid: false,
          message: "Trenger sluttdato",
        };
      }
      if (imageUrl) {
        this.validation.imageUrl = { valid: true };
      }
      if (
        this.validation.title.valid &&
        this.validation.price.valid &&
        this.validation.validThrough.valid &&
        !imageUrl
      ) {
        this.validation.imageUrl = { valid: false, message: "Trenger bilde" };
      }
    },
  },
  methods: {
    imageInputChange(image) {
      this.handleImageMetadata(image.imageFile);
      this.uploadImageToS3(
        image.fileName,
        image.imageFile,
        image.imageFile.type,
      );
    },
    async handleImageMetadata(imageFile) {
      const metadata = await getImageMetadata(imageFile);
      if (metadata) {
        this.location = {
          geolocation: getCoordinates(metadata),
        };
      }
    },
    async uploadImageToS3(name, Body, ContentType) {
      const Key = `${new Date().getTime()}-${name}`;
      this.isUploadingImage = true;
      const { data } = await uploadToS3({ Key, Body, ContentType });
      if (data && data.Location) {
        this.imageUrl = data.Location;
      } else {
        this.$root.$data.addMessage({
          type: messageTypes.ERROR,
          text: "Kunne ikke lagre bildet ditt. Vennligst prøv igjen.",
        });
      }
      this.isUploadingImage = false;
    },
    async submitForm(event) {
      event.preventDefault();
      const { data } = await saveCustomOffer(this.offer);
      if (data) {
        this.$root.$data.addMessage({
          type: messageTypes.SUCCESS,
          text: "Tilbud er lagret",
        });
        this.$root.$data.addOffer(data);
      } else {
        this.$root.$data.addMessage({
          type: messageTypes.ERROR,
          text: "Kunne ikke lagre tilbud",
        });
      }
    },
    handlePasteEvent(event) {
      const imageFile = getImageFromPasteEvent(event);
      if (imageFile) {
        this.imageFile = imageFile;
        this.uploadImageToS3(imageFile.name, imageFile, imageFile.type);
      }
    },
  },
  created() {
    document.addEventListener("paste", this.handlePasteEvent);
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
