<template>
  <div>
    <TextInput placeholder="Lim inn link eller id til tilbud" v-model="formInput" class="mt-2" />
    <div
      class="text-center text-xl text-gray-400"
      :style="{ height: '200px' }"
      v-show="isLoadingImage"
    >Laster bilde</div>
    <div
      class="text-center text-xl text-red-400"
      :style="{ height: '200px' }"
      v-show="offerNotFound && !isLoadingImage"
    >Fant ikke tilbud</div>
    <div v-if="offer && !isLoadingImage" class="flex flex-col items-center">
      <p>
        <strong>{{ offer.title }}</strong>
        til {{ offer.pricing.price }},- hos {{ offer.dealer }}
      </p>
      <div>
        <img :src="offer.imageUrl" :alt="offer.title" class="preview-image" />
      </div>
      <div>
        <AmpButton @click="submitOffer" text="Promoter tilbud" class="my-4" />
      </div>
    </div>
  </div>
</template>

<script>
import TextInput from "./TextInput.vue";
import AmpButton from "../AmpButton.vue";
import { promoteOffer, getOffer } from "../../api";
import { messageTypes } from "../../enums";
import { getOfferUriFromInput } from "../../helpers";

export default {
  name: "ShopgunOfferForm",
  props: {},
  components: {
    TextInput,
    AmpButton,
  },
  data() {
    return {
      offer: null,
      formInput: "",
      msg: "",
      isLoadingImage: false,
      offerNotFound: false,
    };
  },
  methods: {
    async submitOffer(event) {
      event.preventDefault();
      const { data } = await promoteOffer(this.offer.uri);
      if (data) {
        this.$root.$data.addMessage({
          type: messageTypes.SUCCESS,
          text: "Tilbud er promotert",
        });
        this.$root.$data.addOffer(this.offer);
      } else {
        this.$root.$data.addMessage({
          type: messageTypes.ERROR,
          text: "Kunne ikke promotere tilbud",
        });
      }
    },
  },
  watch: {
    async formInput(newValue) {
      const shopgunOfferId = getOfferUriFromInput(newValue);
      if (shopgunOfferId) {
        this.isLoadingImage = true;
        const { data } = await getOffer(shopgunOfferId);
        if (data) {
          this.offer = data;
          this.offerNotFound = false;
        } else {
          this.offer = null;
          this.offerNotFound = true;
        }
        this.isLoadingImage = false;
      }
    },
  },
};
</script>

<style>
.preview-image {
  max-width: 200px;
  max-height: 200px;
}
</style>
