<template>
  <div class="mb-16 flex flex-col items-stretch text-center">
    <h2 class="text-2xl md:text-4xl">Send inn et tilbud</h2>
    <CustomOfferForm />
    <hr class="border w-full my-4" />
    <h2 class="text-2xl md:text-4xl">Eller promoter et tilbud</h2>
    <ShopgunOfferForm />
  </div>
</template>

<script>
import CustomOfferForm from "./CustomOfferForm.vue";
import ShopgunOfferForm from "./ShopgunOfferForm.vue";

export default {
  name: "SubmitPage",
  components: {
    CustomOfferForm,
    ShopgunOfferForm,
  },
};
</script>

<style></style>
