<template>
  <div>
    <div class="container sm:mx-auto min-h-screen">
      <div v-show="showSubmitPage === true">
        <Header>
          <template v-slot:left>
            <a
              class="uppercase"
              href="#"
              @click="
                () => {
                  showSubmitPage = false;
                }
              "
              >Tilbake</a
            >
          </template>
          <template v-slot:right></template>
        </Header>
        <div class="px-2 sm:px-0">
          <SubmitPage />
        </div>
      </div>
      <div v-show="showSubmitPage !== true">
        <Header>
          <template v-slot:right>
            <a
              class="uppercase"
              href="#submit"
              @click="
                () => {
                  showSubmitPage = true;
                }
              "
              >Legg til tilbud</a
            >
          </template>
        </Header>
        <div class="px-2 sm:px-0">
          <OffersPage />
        </div>
      </div>
    </div>
    <Footer />
    <SnackbarMessages
      :messages="$root.$data.state.messages"
      :clickMessage="(index) => $root.$data.readMessage(index)"
    />
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";
import OffersPage from "./components/offers/OffersPage.vue";
import SubmitPage from "./components/submit/SubmitPage.vue";
import SnackbarMessages from "./components/SnackbarMessages.vue";

import { getIdentityId } from "./config/aws";

export default {
  name: "App",
  components: {
    Header,
    Footer,
    OffersPage,
    SubmitPage,
    SnackbarMessages,
  },
  async created() {
    const { data } = await getIdentityId();
    if (data) {
      console.log(`Found identity id: ${data} :)`);
      this.$root.$data.setIdentityId(data);
    } else {
      console.warn("Could not get identity id.");
    }
  },
  data() {
    return {
      showSubmitPage: false,
    };
  },
};
</script>

<style></style>
