<template>
  <div class="flex flex-wrap items-center product-list mx-auto justify-center">
    <div v-for="offer in offers" :key="offer.id" class="m-0 p-0 sm:mx-1 loading-product-list-item">
      <OfferListItem :offer="offer" />
    </div>
  </div>
</template>

<script>
import OfferListItem from "./OfferListItem";
export default {
  components: {
    OfferListItem,
  },
  props: { n: { Number, default: 4 } },
  data() {
    return {
      offers: new Array(this.n).fill(0).map(() => ({
        imageUrl: "/logo-256x256.png",
        title: "Grandiosa",
        pricing: { price: 25 },
      })),
    };
  },
};
</script>

<style>
.product-list {
  max-width: calc((var(--product-image-width) + 0.5rem) * 2);
}
.loading-product-list-item {
  animation: blur-pulse 2s infinite;
  pointer-events: none;
}
@keyframes blur-pulse {
  0% {
    filter: blur(4px);
  }
  50% {
    filter: blur(8px);
  }
  100% {
    filter: blur(4px);
  }
}
</style>
