<template>
  <div>
    <OfferListLoading v-show="isLoadingOffers" />
    <OffersList :offers="offers" v-show="!isLoadingOffers" />
  </div>
</template>

<script>
import OffersList from "./OfferList";
import OfferListLoading from "./OfferListLoading";
import { getSpecialOffers } from "../../api";
import { offersSortFunction } from "../../helpers";

export default {
  name: "OffersPage",
  components: {
    OffersList,
    OfferListLoading,
  },
  data() {
    return {
      isLoadingOffers: true,
    };
  },
  async created() {
    const { error, data: offers } = await getSpecialOffers();
    if (offers) {
      this.$root.$data.loadOffers(offers);
    } else {
      console.error(error);
    }
    this.isLoadingOffers = false;
  },
  computed: {
    offers() {
      const sortedOffers = [...this.$root.$data.state.offers].sort(
        offersSortFunction,
      );
      return sortedOffers;
    },
  },
};
</script>

<style></style>
