<template>
  <div class="shadow-lg rounded max-w-xs flex flex-col items-center py-2">
    <div>
      <p class="text-2xl">{{ offer.title }}</p>
    </div>
    <div class="image-wrapper flex justify-center items-center">
      <div
        class="image-with-background absolute -z-10"
        :style="{
          'background-image': `url(${offer.imageUrl})`,
          border: 'red dashed 2px',
        }"
      ></div>
      <div>
        <img :src="offer.imageUrl" :alt="offer.title" class="offer-image" />
      </div>
    </div>
    <div class="text-center">
      <p v-if="showPrice" class="text-xl">{{ formattedPrice }}</p>
      <p v-else class="text-xl" :style="{visibility: 'hidden'}">_</p>
      <p class="text-xl">{{ offer.dealer }}</p>
    </div>
    <div class="flex justify-center">
      <div class="mx-1">
        <AmpButton @click="() => handleOfferFeedback('like')" :text="isLiked ? 'Likt' : 'Liker'" />
      </div>
      <ReportOfferDialog class="mx-1" :handle-click="handleOfferFeedback" />
    </div>
    <div class="mt-4 text-blue-800">
      <a
        :href="`https://allematpriser.no/tilbud/${offer.uri}`"
        :title="offer.title"
      >Se på allematpriser.no</a>
    </div>
  </div>
</template>

<script>
import ReportOfferDialog from "./ReportOfferDialog";
import AmpButton from "../AmpButton";
import { likeOffer, reportOffer } from "../../api";
import { formatPrice } from "../../helpers";
import { provenanceTypes } from "../../enums";

export default {
  components: {
    ReportOfferDialog,
    AmpButton,
  },
  props: {
    offer: Object,
  },
  data() {
    return {
      clickedLike: false,
    };
  },
  computed: {
    showPrice() {
      // Only show price for offers from a web store, as the pics there don't show the price.
      return !(
        this.offer.provenance === provenanceTypes.CUSTOM ||
        this.offer.provenance === provenanceTypes.SHOPGUN
      );
    },
    formattedPrice() {
      return formatPrice(this.offer.pricing.price);
    },
    identityId() {
      return this.$root.$data.state.identityId;
    },
    isLiked() {
      return (
        this.clickedLike ||
        (this.offer.likes &&
          !!this.offer.likes.find(
            ({ identity_id }) => identity_id === this.identityId,
          ))
      );
    },
  },
  methods: {
    async handleOfferFeedback(type) {
      if (type === "like") {
        if (this.isLiked) return;
        const { data, error } = await likeOffer(this.offer.uri);
        if (data) {
          this.clickedLike = true;
        } else {
          this.$root.$data.addMessage({
            ...error,
            type: "error",
            text: "Ukjent feil oppstod",
          });
        }
      } else {
        const { data, error } = await reportOffer(this.offer.uri, type);
        if (data) {
          this.$root.$data.addMessage({
            type: "success",
            text: "Takk for tilbakemelding",
          });
        } else {
          this.$root.$data.addMessage({
            ...error,
            type: "error",
            text: "Ukjent feil oppstod",
          });
        }
      }
    },
  },
};
</script>

<style>
:root {
  --product-image-width: 300px;
}

.image-wrapper {
  height: 320px;
  width: var(--product-image-width);
}

.image-with-background {
  height: 320px;
  width: var(--product-image-width);
  filter: blur(12px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offer-image {
  max-width: var(--product-image-width);
  max-height: 320px;
  filter: none;
}
</style>
