<template>
  <div class="flex flex-wrap items-center product-list mx-auto justify-center">
    <div v-for="offer in offers" :key="offer.id" class="m-0 p-0 sm:mx-1">
      <OfferListItem :offer="offer" />
    </div>
  </div>
</template>

<script>
import OfferListItem from "./OfferListItem";
export default {
  components: {
    OfferListItem,
  },
  props: {
    offers: Array,
  },
};
</script>

<style>
.product-list {
  max-width: calc((var(--product-image-width) + 0.5rem) * 2);
}
</style>
