<template>
  <div>
    <div v-if="!dialog">
      <AmpButton text="Rapporter" @click="dialog = true" />
    </div>
    <div
      v-else
      class="fixed w-screen h-screen left-0 top-0 z-40 bg-secondary-text flex justify-center py-20"
      @click="dialog = false"
      :style="{background: 'rgba(0, 0, 0, 0.4)'}"
    >
      <div
        class="border-2 border-primary-text p-1 rounded flex flex-col text-center z-50"
        :style="{ width: '320px', background: 'white' }"
      >
        <div
          class="text-gray-600 text-lg left-0 top-0 ml-2 hover:cursor-pointer mr-auto"
          @click="dialog = false"
        >x</div>
        <p class="text-2xl">Hva er galt?</p>
        <AmpButton
          class="my-1"
          :text="option.text"
          :key="option.value"
          @click="
            dialog = false;
            handleClick(option.value);
          "
          v-for="option in options"
        />
      </div>
    </div>
  </div>
</template>

<script>
import AmpButton from "../AmpButton";

export default {
  props: {
    handleClick: Function,
  },
  components: {
    AmpButton,
  },
  data() {
    return {
      dialog: false,
      options: [
        { text: "utgått", value: "expired" },
        { text: "langt unna", value: "far_away" },
        { text: "dårlig info", value: "bad_info" },
        { text: "annet", value: "other" },
      ],
    };
  },
};
</script>

<style></style>
